[Unit]
Description = microblog

[Service]
User      = ec2-user
Group     = ec2-user
ExecStart = /usr/local/bin/microblog
Restart   = always
Type      = simple

[Install]
WantedBy = multi-user.target
