RIREKISHO_FULL_NAME=
RIREKISHO_FURIGANA=
RIREKISHO_BIRTH_DATE=1994-01-01
RIREKISHO_ADDRESS_POSTAL=
RIREKISHO_ADDRESS=
RIREKISHO_ADDRESS_FURIGANA=
RIREKISHO_GENDER=
RIREKISHO_PHONE=
RIREKISHO_EMAIL=

RIREKISHO_COMMUTE_TIME=
RIREKISHO_DEPENDENTS=
RIREKISHO_SPOUSE=
RIREKISHO_SPOUSE_DEPENDENCY=
RIREKISHO_MOTIVATION=
