---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="About - kosui" ogTitle="About">
  <h1 class="text-3xl font-bold mb-8">About</h1>
  <div class="prose">
    <p>
      kosui (<a href="https://x.com/kosui_me">@kosui_me</a>) のブログです。
    </p>
    <p>
      TypeScript, Node.js,
      インフラなどサーバサイド開発に関する知見を発信しています。
    </p>
  </div>
</BaseLayout>
